<div class="example-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="linkForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input formControlName="name" matInput placeholder="Name">
          </mat-form-field>
          <mat-form-field>
            <input formControlName="uri" matInput placeholder="Url">
          </mat-form-field>
          <div class="button-panel">
            <button mat-raised-button color="primary" [disabled]="!linkForm.dirty || linkForm.invalid">Save</button>
            <button type="button" mat-raised-button (click)="onDiscard()">Discard</button>
          </div>
      </form>
      </mat-card-content>
    </mat-card>
  </div>