form, .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .mat-card {
      max-width: 500px;
  }
  
  button {
      max-width: 6em;
      margin-right: 10px;
  }
  
  .button-panel {
      display: flex;
      flex-direction: row;
  }
  