<mat-sidenav-container class="sidenav-container" color="primary">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>SongRedirector</span>
      <span style="flex-grow: 1;"></span>
      <span>Home</span>
      <span>Edit</span>
      <mat-form-field>
        <mat-select [(value)]="currentConfig" (change)="onSelect($event)" >
          <mat-option *ngFor="let configName of configNames$ | async" [value]="configName">{{ configName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
